extends layout

block head
    title #{user.name} | cart
    link(rel="stylesheet", href="/style/cart.css")

block content
    .container
        -if((cart.items.length)){
            h1 Total : #{cart.total}
            a(href="/cart/order" class="btn btn-success" ) Order 
            .cart
                -for(let i=0;i<cart.items.length;i++){
                    .cartPro(class="#{cart.items[i]._id}")
                        h4.card-title  #{cart.items[i].title} 
                        p.card-body
                            | price :  #{cart.items[i].price}
                            | quantity: 
                            span(id="#{cart.items[i].item}") #{cart.items[i].quantity}
                            p
                                hr
                                button.btn.btn-danger(onclick="remove(this)" id="#{cart.items[i].item}")  Remove 
                                a.btn.btn-primary(href="/cart/show/#{cart.items[i].item}" target="_blank") Visit
                -}
        -}
        -else{
            h1 Your Cart is Empty
        -}
        br
    script(src="/scripts/cart.js")