extends layout

block head
    title #{user.name} | cart
    link(rel="stylesheet", href="/style/cart.css")

block content

        .container
            
            -if((cart.items.length)){
                h4  Total : ₹ #{cart.total}  
                a(href="/cart/order" class="btn " ) Order 
                br
                br
                -for(let i=0;i<cart.items.length;i++){

                    .product-card(class="#{cart.items[i]._id}")
                        h3 #{cart.items[i].title}
                        hr
                        ul
                        ol
                            h5  Price : ₹ #{cart.items[i].price} 
                        ol
                            h5  quantity: 
                                span(id="#{cart.items[i].item}") #{cart.items[i].quantity}
                        a.btn-danger.btn(onclick="remove(this)" id="#{cart.items[i].item}")  Remove  
                        a.btn-primary.btn(href="/cart/show/#{cart.items[i].item}" target="_blank") Visit
                    br
                
                
                -}
            -}
            -else{
                .tag.container
                    h1 Your Cart is Empty :)
                    hr
            -}
            br

          

    //script(src="../scripts/cart.js")

  
