extends layout

block head
    -if(buyer){
        title #{user.name} | Home
    -}
    -else{
        title #{user.name} | Shop
    -}
    link(rel="stylesheet", href="../style/dashboard.css")

block content 
    .search.input-group.mb-3
        input#searchBox.form-control(type='text', placeholder='Search ......', aria-label="Recipient's username")
        .input-group-append
        span.input-group-text
            i.fa.fa-search

    .showSearch 
    -if(buyer){
        -orders.order.reverse()
        .container
            h1 Recent Order
            br
            .product-box
                .product-para
                    if(orders.order[2].title)
                       
                        h4 #{orders.order[2].title}
                        hr
                        a.btn(href="/buyer/orders") Check Recent Order
            br
            .container
            h1 Home Feed
            br
            -for(let i=0;i<products.length;i++){
                -if(i%2){
                    .product-box
                        img.product-img(src='#{products[i].images[0]}', alt='img')
                        .product-para
                            h4 #{products[i].title}
                            hr
                            a.btn(href='/show/#{products[i].id}') Check Product

                -}
                -else{
                    .product-box
                        .product-para
                            h4 #{products[i].title}
                            hr
                            a.btn(href='/show/#{products[i].id}') Check Product
                        img.product-img(src='#{products[i].images[0]}', alt='img')


                -}
                br
           
            -}
           

    -}
    -else{  
        h1 Recent Shipping
        br
        .container
            .product-box
                .product-para
                    h4 #{s.shipping[0].title}
                    hr
                    a(href="/seller/shipping" class="btn") See Recent shipping
        br
        -if(products){
            .container
                -for(var i=0;i<products.length;i++){
                    -if(i%2){
                    .product-box
                        img.product-img(src='#{products[i].images[0]}', alt='img')
                        .product-para
                            h4 #{products[i].title}
                            hr
                            p #{products[i].caption}
                            a.btn(href='/show/#{products[i].id}')  Visit
                            a.btn(href='/seller/edit/#{products[i].id}') Edit 

                    -}
                    -else{
                        .product-box
                            .product-para
                                h4 #{products[i].title}
                                hr
                                p #{products[i].caption}
                                a.btn(href='/show/#{products[i].id}')  Visit
                                a.btn(href='/seller/edit/#{products[i].id}') Edit 
                            img.product-img(src='#{products[i].images[0]}', alt='img')
                    -}
                    br
                -}
        -}
    -}
    