extends layout

block head
    -if(buyer){
        title #{user.name} | Home
    -}
    -else{
        title #{user.name} | Shop
    -}
    link(rel="stylesheet", href="../style/dashboard.css")

block content 
    .search.input-group.mb-3
        input#searchBox.form-control(type='text', placeholder='Search ......', aria-label="Recipient's username")
        .input-group-append
        span.input-group-text
            i.fa.fa-search

    .showSearch 
    -if(buyer){
        hr
        h4 Recent Order
        -orders.order.reverse()
        .homePro
            h4.homeTitle #{orders.order[1].title}
            a(href="/buyer/orders" class="btn btn-success") See Recent Orders   
        hr
        h4 Home Feed 
        .homeShow
            -for(let i=0;i<products.length;i++){
                .homePro
                    h4.homeTitle #{products[i].title}
                    img.homeProImg(src='#{products[i].images[0]}', alt='img')
                    a.btn.btn-primary(href='/show/#{products[i].id}')  Visit 
                    //a.btn.btn-success(href='/cart/add/#{products[i].id}')  Add to cart 
            -}
           

    -}
    -else{  
        hr
        h4 Recent Shipping
        .homePro
            h4.homeTitle #{s.shipping[0].title}
            a(href="/seller/shipping" class="btn btn-success") See Recent shipping   
        hr
        li 
            a(href="/seller/add") add Product
        -if(products){
            .products
                -for(var i=0;i<products.length;i++){
                    .showPro
                        h4.card-title #{products[i].title}
                        img.showProImg(src='#{products[i].images[0]}',style="margin:0 auto;" ,alt='img',class="img-responsive center-block")
                        p.card-body 
                            h4 Price : 
                                button.btn.btn-outline-success #{products[i].price}
                            | #{products[i].caption}
                        .card-bottom
                            a.btn.btn-outline-primary(href='/show/#{products[i].id}')  Visit
                            | &nbsp;
                            a.btn.btn-outline-primary(href='/seller/edit/#{products[i].id}') Edit      
                -}
        -}
    -}
    