extends layout

block head
    -if(buyer){
        title #{user.name} | Home
    -}
    -else{
        title #{user.name} | Shop
    -}
    link(rel="stylesheet", href="../style/dashboard.css")

block content 
    h1.alert-success Welcome #{user.name} 
    -if(buyer){
        h1 Buyer 
    -}
    -else{  
        h1  Seller
        li 
            a(href="/seller/add") add Product
        -if(products){
            .products
                -for(var i=0;i<products.length;i++){
                    .showPro
                        h4.card-title #{products[i].title}
                        img.showProImg(src='#{products[i].images[0]}',style="margin:0 auto;" ,alt='img',class="img-responsive center-block")
                        p.card-body 
                            h4 Price : 
                                button.btn.btn-outline-success #{products[i].price}
                            | #{products[i].caption}
                        .card-bottom
                            a.btn.btn-outline-primary(href='/show/#{products[i].id}')  Visit
                            | &nbsp;
                            a.btn.btn-outline-primary(href='/seller/edit/#{products[i].id}') Edit      
                -}
        -}
    -}
    