extends layout

block head 
    title Spider Cart | #{product.title}
    link(rel="stylesheet", href="../style/showPro.css")
block content
    .show
        h1.card-title #{product.title}
        .showPro
            img#mainImg(src='#{product.images[0]}', alt='img')
            p.card-body #{product.caption}
            
                  
                button.btn.btn-outline-primary  Price:  #{product.price}  &nbsp;
                
                button.btn.btn-outline-danger  Items Left :  #{product.quantity} &nbsp;
                
                a.btn.btn-success(href='/cart/add/#{product.id}')  Add to Cart  &nbsp;
        hr
        .imgList
            -for(var i=0;i<product.images.length;i++){
                  img(onclick='updateImage(this)', src='#{product.images[i]}', alt='img')
            -}
          
            img(onclick='updateImage(this)', src='./uploads/avatar-1599127066386.jpg', alt='')
            img(onclick='updateImage(this)', src='./uploads/avatar-1599127070889.jpg', alt='')



    script(src="../scripts/showPro.js")