extends layout

block head 
    title Spider Cart | #{product.title}
    link(rel="stylesheet", href="/style/showPro.css")
block content
    .container
        .product
            .img-section
                img#main-img(src='#{product.images[0]}', alt='')
                .img-selector
                    -for(var i=0;i<product.images.length;i++){
                        img(onclick='updateImage(this)', src='#{product.images[i]}', alt='img')
                    -}
            .details-section
                h4.title
                    | #{product.title}
                hr
                h2
                    span ₹
                    | #{product.price}
                p
                    | #{product.caption}
                -if((product.quantity)>0){
                    label(for='') Quantity :
                    input.form-control(type="number" min="1" max="#{(product.quantity)}" id="quantity" value="1" )
                    button.btn(onclick='addToCart(#{product.id})', id="product_#{product.id}")  Add To Cart 
                -}
                -else{
                   span.alert.btn-danger Out Of Stock!
                -}
          
                
             

                


    script(src="/scripts/showPro.js")