extends layout 

block head
    title #{user.name} | Orders
    link(rel="stylesheet", href="/style/dashboard.css")

block content
    .container
    -if(orders){
        -orders.order.reverse()
        .container
            -for(let i=0;i<orders.order.length;i++){
                -if(orders.order[i]){
                    .product-card
                        h4 #{orders.order[i].title}
                        hr
                        .product-para
                            ul
                                ol.text-muted #{orders.order[i].date}
                                ol Price : ₹ #{orders.order[i].price}
                                ol Quantity : #{orders.order[i].quantity}
                        a.btn(href='/cart/show/#{orders.order[i].item}')  Visit 
                    br
                -}
            -}
           
    -}
    -if(s){
        .container
            -for(let i=0;i<s.shipping.length;i++){
                .product-box
                    h4 #{s.shipping[i].title}
                    hr
                    .product-para
                        p.btn(onclick="getUser(this.id,this)" id="#{s.shipping[i].buyer}")  get customer details
                        p.text-muted  #{s.shipping[i].date}
                        p
                            ul.list-group
                                li.list-group-item 
                                    |  Price : ₹ #{s.shipping[i].price}
                                li.list-group-item 
                                    | Quantity : #{s.shipping[i].quantity}
            -}

    -}


    script(src="/scripts/track.js")
